<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <form id="search-form">
            <input type="text" placeholder="City" id="search"/>
            <button type="submit" id="submit">Submit</button>
        </form>

        <p id="error-message"></p>
        <div id="cities-list"></div>
        {{>footer}}
        <script src="/js/script.js"></script>
    </body>
</html>
