<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather Now. Find Out the Current Weather in Any City in the World</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
        {{>header}}
        <form id="search-form">
            <input type="text" placeholder="City" autocomplete="off" id="search"/>
            <button type="submit" id="submit" disabled>Search All</button>
        </form>
        <p id="error-message"></p>
        <div id="main-container"></div>
        {{>footer}}
        <script src="/js/bundle.js"></script>
    </body>
</html>
